.nis-metadata-section-table-view {
    .ui.table th.one.wide {
        width: 25%;
    }

    .ui.table tr th {
        border-bottom: 1px solid #BCBEC0;
        border-right: 1px solid #0079CF;
    }

    .ui.table tr:last-child th {
        border-bottom: none;
    }
    
    td .block.metadata {
        margin: 0;
    }
}